stages:
  - build
  - test

build:
    stage: build
    image: alpine:latest
    before_script:
        - echo "Installing GCC, boost-dev, CMake, make..."
        - apk add --no-cache gcc g++ cmake boost-dev git make
        - echo "Downloading GoogleTestFramework.."
        - git clone https://github.com/google/googletest.git
        - echo "Installing GoogleTestFramework..."
        - cd googletest
        - cmake -Bbuild -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc
        - cmake --build build -j`nproc`
        - cmake --build build --target install -j`nproc`
        - cd -
    script:
        - echo $PATH
        - echo "Building project..."
        - cmake -DCMAKE_CXX_COMPILER=g++ -DCMAKE_C_COMPILER=gcc -Bcmake-build-Release -H.
        - cmake --build cmake-build-Release -j`nproc`
    artifacts:
        expire_in:
            on_success: 7 days
            on_failure: 1 days
        paths:
            - cmake-build-Release/output/

test:
    stage: test
    image: alpine:latest
    before_script:
    - echo "Installing boost-dev..."
    - apk add --no-cache boost-dev
    script:
        - echo "Running output file..."
        - ./cmake-build-Release/output/unittest-dsa
    dependencies:
        - build

